# NurseAssistant

## Inspiration

Wouldn't it be great to have easy, digital access to your patient's medical records?

## What it does

NurseAssistant is an app that allows you to enter the patient's name, age, height, weight, cholesterol level, and blood pressure, and displays the information in a table. NurseAssistant also interprets your patient's cholesterol level and blood pressure and presents the warning values (ie. high cholesterol) as colored values in the table. NurseAssistant will also let you know when you've entered an unexpected value.

## Project Code

In [2]:
print("""
Welcome to NurseAssistant!
All you need to do is input your patients' information, and NurseAssistant will store the data in a table where you will be able to access your patients' data as well as easily identify the health markers that may pose a risk to your patients' health.

""")

Welcome to NurseAssistant!
All you need to do is input your patients' information, and NurseAssistant will store the data in a table where you will be able to access your patients' data as well as easily identify the health markers that may pose a risk to your patients' health.

In [3]:
from my_module.classes import Patient

In [4]:
from my_module.functions import get_alpha, get_num, chat_with_nurseassistant, color_cholesterol_level, color_blood_pressure, create_df

In [5]:
from my_module.test_functions import test_correct_colors

In [6]:
all_patients = chat_with_nurseassistant()

Patient name: Felicia
Patient age: 19
Patient height (in cm): 14-
Please type in a number.
Patient height (in cm): 140
Patient weight (in kg): 180
Cholesterol level(mg/dl): 200
Systolic blood pressure(mm Hg): 120
Do you want evaluate another patient(yes/no)? yes
Patient name: diana
Patient age: 18
Patient height (in cm): 190
Patient weight (in kg): 80
Cholesterol level(mg/dl): 239
Systolic blood pressure(mm Hg): 130
Do you want evaluate another patient(yes/no)? yes
Patient name: dal
Patient age: 19
Patient height (in cm): 120
Patient weight (in kg): 90
Cholesterol level(mg/dl): 240
Systolic blood pressure(mm Hg): 140
Do you want evaluate another patient(yes/no)? no

In [8]:
print("""
Legend for Patient Database Table:

black = normal
orange = borderline high
red = high
""")

Legend for Patient Database Table:

black = normal
orange = borderline high
red = high

In [9]:
create_df(all_patients)

In [11]:
test_correct_colors()